@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.title, .students {
  background-color: #3a3a3a;
  height: 7vh;
  border: 5px solid #82ff8a;
  border-radius: 10px;
  margin: 20px;
  width: 80%;
  color: white;
  font-family: "Fredoka";
  font-weight: 400;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.students1 {
  background-color: #3a3a3a;
  height: 8.5vh;
  border: 5px solid #82ff8a;
  border-radius: 10px;
  margin: 20px;
  width: 80%;
  color: white;
  font-family: "Fredoka";
  font-weight: 400;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2fc6;
}
