@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.container1, .container2, .container3, .container4 {
  background-color: #3a3a3a;
  height: 60vh;
  border: 5px solid #82ff8a;
  border-radius: 10px;
  margin: 20px;
  width: 80%;
  color: white;
  font-family: "Fredoka";
  font-weight: 400;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2fc6;
}
.section {
  font-family: "Fredoka";
  font-weight: 400;
  font-size: 30px;
  color: #fc9999c6;
}
button {
  width: 83%;
  height: 5vh;
  border-radius: 5px;
  border: 5px solid #82ff8a;
  font-family: "Fredoka";
  background-color: #2f2f2fc6;
  color: white;
}